* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Mon, Arial, Helvetica, sans-serif;
  background: linear-gradient(rgb(216, 113, 88), #fff);
  background-repeat: no-repeat;
  background-position:center center ;
  background-attachment: fixed;
  background-size: cover;
}

.title {
  text-align: center;
  margin: 3rem 0rem;
  font-weight: 700;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#guess {
  border: none;
  border-radius: 0.4rem;
  height: 2rem;
  padding: 0.5rem;
}


.check-button {
  color: #fff;
  background-color: blue;
  width: 4rem;
  height: 2rem;
  border-radius: 0.4rem;
  border: none;
  margin-left: 1rem;
}



.image {
  margin: 2rem auto;
  width: 80%;
  text-align: center;
}

img {
  width: 25vw;
  height: 40vh;

}
.img2{
    width: 55vw;
    height: 55vh;
    
}
.img3{
    width: 55vw;
    height: 55vh;
}

.text {
 text-align: center;
  font-size: larger;
}

.result {
  margin-bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
  
}
.restart{
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  border-radius: 0.4rem;
  border: none;
  margin-left: 1rem;
  display: none;
  font-weight: bolder;
}